<header id="fullScreen" class="headline">
    <div class="inner">
        <div class="container">
            {{{1.content.rendered}}} 
        </div>
    </div>
</header>
<div class="mainContent" id="me">
    <section class="imageContainer">
        <div class="bg1">               
        </div>
        <div class="bg2">                  
        </div>
        <div class="bg3">                       
        </div>
    </section> 

    <section class="imageContainerMobile" id="meMobile">
        <img src="/images/popout.png">
    </section> 

    <section class="about skills" id="help">
        <article class="container">
            {{{0.content.rendered}}}
        </article>                    
    </section>
    {{!-- <section class="portfolio">
        <article class="container">
            <h1>Recent Projects</h1>
            <ul class="gallery">
                <li>
                    <a href="http://jamesbegley.co/" target="_blank">
                        <img src="/images/gallery/jb.jpg" alt="" class="gallery-thumb">
                        <p class="text-overlay">Static Build</p>
                    </a>
                </li>
                <li>
                    <a href="http://littlesleeps.com/" target="_blank">
                        <img src="/images/gallery/ls.jpg" alt="" class="gallery-thumb">
                        <p class="text-overlay wp">Wordpress Build</p>
                        <span class="responsive-badge">Responsive!</span>
                    </a>                                
                </li>
                <li>
                    <a href="http://www.loveallerton.com/" target="_blank">
                        <img src="/images/gallery/la.jpg" alt="" class="gallery-thumb">
                        <p class="text-overlay wp">Wordpress Build</p>
                        <span class="responsive-badge">Responsive!</span>
                    </a>                                
                </li>                                                 
            </ul>
        </article>
    </section> --}}
    <section class="contact">
        <article class="container">
            <h1>Contact Me</h1>
            <ul class="contactDetails">
                <li>07832 953 943</li>
                <li><a href="mailto:gary@garypburton.com">gary@garypburton.com</a></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </article>
    </section>

</div>